@import "tailwindcss";


:root {
    --background-color: #0B0A0A;
    --foreground-color: #0f0f0f;
    --dark-bg: #1A1A1A;
    --border: #bbbbbb;
    --border-muted: #323232;
    --text-light: #ffffff;
    --muted: #b3b3b3;
    --cp: #5DD62C;
    --destructive: #F74A4A;
}


body {
    background-color: var(--background-color);
    color: var(--text-light);
    font-family: var(--font-inter);
}